*{
  margin:0px;
  padding: 0px;
}
.index{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #24a19c, #6ebfb5, #ffc7c7, #ff5f40);
  background-size: 400% 400%;
  animation: change 10s ease-in-out infinite;
  position: relative;
}
@keyframes change{
  0%{
    background-position: 0% 50%;
  }
  
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0, 0);
  padding: 50px;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

#login_id, #login_pwd{
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  border-width: 0px;
}

#login_btn{
  width: 220px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(129, 190, 85);
  align-content: center;
  left: 50%;
  position: relative;
  top: 0%;
  transform: translate(-50%, 0%);
  border-width: 0px;
  margin-top: 10px;
}

.dashboard{
  height: 55px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8)
}

.uni_name{
  color: rgb(255, 255, 255, 1);
  float: left;
  color: white;
  line-height: 55px;
}

#logout{
  float: right;
}

.navbar{
  height: 70px;
  width: 100%;
  background-color: rgba(0, 200, 0, 0.5);
}
#uni_name{
  line-height: 70px;
  float: left;
}
.nav_items{
  float: right;
  list-style: none;
}
.nav_items ul{
  display: inline-block;
}
.nav_itmes ul li{
  text-decoration: none;
  

} 
.nav_items ul li a{
  color: #000;
}